.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  min-height: 100vh;
  padding-top: 100px;
}

.hero-tlt-des-con {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-hi {
  font-size: clamp(14px, 1.2vw, 22px);
  color: var(--text-color);
}

.hero-tlt-des-con h2 {
  font-size: clamp(18px, 2vw, 30px);
  color: #fd6f00;
}

.hero-tlt-des-con h1 {
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1.1;
  color: var(--text-color);
}

.home-des {
  margin-top: 24px;
  max-width: 650px;
  line-height: 1.8;
  color: var(--text-color);
  margin-bottom: 15px;
}

.hero-img-con {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img-con img {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .home-section {
    gap: 2rem;
  }

  .hero-img-con img {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .home-section {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

    gap: 2rem;
    padding-top: 120px;
  }

  .hero-tlt-des-con {
    width: 100%;
  }

  .home-des {
    max-width: 100%;
  }

  .hero-img-con {
    width: 100%;
  }

  .hero-img-con img {
    width: 65vw;
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .home-section {
    padding-top: 100px;
    gap: 1.5rem;
  }

  .hero-tlt-des-con h1 {
    font-size: 2.7rem;
  }

  .hero-tlt-des-con h2 {
    font-size: 1.2rem;
  }

  .home-des {
    font-size: 14px;
  }

  .hero-img-con img {
    width: 75vw;
  }
}
