.navbar-con {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 15vw;
  transition: all 0.3s ease;
}

.dark.navbar-con {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 15vw;
  transition: all 0.3s ease;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  border-radius: 50px;

  transition: all 0.3s ease;
}

.logo-togle-con {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #fd6f00;
  font-size: clamp(32px, 3vw, 50px);
}

.nav-links li a {
  color: var(--text-color);
}

.theme-icon {
  color: var(--text-color);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links li a {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li a {
  text-decoration: none;
}

.nav-links li a:hover {
  color: #fd6f00;
}

.navbar-con.scrolled .nav-content {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(15px);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  padding: 5px 40px;
}

.dark .navbar-con.scrolled .nav-content {
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(15px);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

  padding: 5px 40px;
}

.navbar-con.scrolled .nav-links li {
  font-size: clamp(13px, 0.9vw, 16px);
}

.theme-icon {
  font-size: clamp(24px, 2vw, 40px);
}

.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

@media (max-width: 1024px) {
  .navbar-con {
    padding: 0 5vw;
  }

  .dark.navbar-con {
    padding: 0 5vw;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links ul {
    gap: 25px;
  }

  .nav-links li {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar-con {
    padding: 0 5vw;
  }

  .dark.navbar-con {
    padding: 0 5vw;
  }

  .nav-content {
    margin-top: 15px;
  }

  .logo {
    font-size: 36px;
  }

  .nav-links ul {
    display: none;
  }

  .nav-links button {
    display: none;
  }

  .logo-togle-con {
    width: 100%;
    justify-content: space-between;
  }
}
