.navbar-con {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
  padding: 0 14vw;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
}

.nav-content {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: 30px;

  transition: all 0.3s ease;
}

.logo-togle-con {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}

.logo {
  margin: 0%;
  font-size: clamp(30px, 3vw, 50px);
  color: #fd6f00;
}

.nav-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-links ul {
  display: flex;
  gap: 40px;
}

.nav-links li {
  display: flex;
  font-size: clamp(14px, 1vw, 18px);
}

.navbar-con.scrolled .nav-content {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  padding: 0.1vw 3vw;
  margin: 30px -3vw -1vw -3vw;
}

/* buat yang gelap nanti */
/* .navbar-con.scrolled .nav-content {
  background: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(15px);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
} */

@media (max-width: 1024px) {
  .navbar-con {
    padding: 0 14vw;
    background-color: white;
  }
}

@media (max-width: 768px) {
  .navbar-con {
    padding: 0 14vw;
    background-color: white;
  }
}
